In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
X_train = pd.read_csv('ds6-league-of-legends/participants_train.csv')
X_test = pd.read_csv('ds6-league-of-legends/participants_test.csv')
y_train = pd.read_csv('ds6-league-of-legends/train_winners.csv')
submission = pd.read_csv('ds6-league-of-legends/sample_submission.csv')
champion_mastery = pd.read_csv('ds6-league-of-legends/champion_mastery.csv')

In [3]:
#import json

#with open('ds6-league-of-legends/champion.json') as champion:
#    d = json.load(champion)
#    print(d)

In [4]:
#Reading the file as Json
champions = pd.read_json('ds6-league-of-legends/champion.json')
champions

,type,format,version,data
Aatrox,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Aatrox', 'key': '..."
Ahri,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Ahri', 'key': '10..."
Akali,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Akali', 'key': '8..."
Akshan,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Akshan', 'key': '..."
Alistar,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Alistar', 'key': ..."
...,...,...,...,...
Zeri,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Zeri', 'key': '22..."
Ziggs,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Ziggs', 'key': '1..."
Zilean,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Zilean', 'key': '..."
Zoe,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Zoe', 'key': '142..."
Zyra,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Zyra', 'key': '14..."

In [5]:
version_champion = pd.DataFrame.from_dict(champions['data'].values.tolist())   

version_champion

,version,id,key,name,title,blurb,info,image,tags,partype,stats
0,13.5.1,Aatrox,266,Aatrox,the Darkin Blade,Once honored defenders of Shurima against the ...,"{'attack': 8, 'defense': 4, 'magic': 3, 'diffi...","{'full': 'Aatrox.png', 'sprite': 'champion0.pn...","[Fighter, Tank]",Blood Well,"{'hp': 650, 'hpperlevel': 114, 'mp': 0, 'mpper..."
1,13.5.1,Ahri,103,Ahri,the Nine-Tailed Fox,Innately connected to the magic of the spirit ...,"{'attack': 3, 'defense': 4, 'magic': 8, 'diffi...","{'full': 'Ahri.png', 'sprite': 'champion0.png'...","[Mage, Assassin]",Mana,"{'hp': 590, 'hpperlevel': 96, 'mp': 418, 'mppe..."
2,13.5.1,Akali,84,Akali,the Rogue Assassin,Abandoning the Kinkou Order and her title of t...,"{'attack': 5, 'defense': 3, 'magic': 8, 'diffi...","{'full': 'Akali.png', 'sprite': 'champion0.png...",[Assassin],Energy,"{'hp': 570, 'hpperlevel': 119, 'mp': 200, 'mpp..."
3,13.5.1,Akshan,166,Akshan,the Rogue Sentinel,"Raising an eyebrow in the face of danger, Aksh...","{'attack': 0, 'defense': 0, 'magic': 0, 'diffi...","{'full': 'Akshan.png', 'sprite': 'champion0.pn...","[Marksman, Assassin]",Mana,"{'hp': 630, 'hpperlevel': 104, 'mp': 350, 'mpp..."
4,13.5.1,Alistar,12,Alistar,the Minotaur,Always a mighty warrior with a fearsome reputa...,"{'attack': 6, 'defense': 9, 'magic': 5, 'diffi...","{'full': 'Alistar.png', 'sprite': 'champion0.p...","[Tank, Support]",Mana,"{'hp': 670, 'hpperlevel': 120, 'mp': 350, 'mpp..."
...,...,...,...,...,...,...,...,...,...,...,...
157,13.5.1,Zeri,221,Zeri,The Spark of Zaun,"A headstrong, spirited young woman from Zaun's...","{'attack': 8, 'defense': 5, 'magic': 3, 'diffi...","{'full': 'Zeri.png', 'sprite': 'champion5.png'...",[Marksman],Mana,"{'hp': 630, 'hpperlevel': 115, 'mp': 250, 'mpp..."
158,13.5.1,Ziggs,115,Ziggs,the Hexplosives Expert,"With a love of big bombs and short fuses, the ...","{'attack': 2, 'defense': 4, 'magic': 9, 'diffi...","{'full': 'Ziggs.png', 'sprite': 'champion5.png...",[Mage],Mana,"{'hp': 606, 'hpperlevel': 106, 'mp': 480, 'mpp..."
159,13.5.1,Zilean,26,Zilean,the Chronokeeper,"Once a powerful Icathian mage, Zilean became o...","{'attack': 2, 'defense': 5, 'magic': 8, 'diffi...","{'full': 'Zilean.png', 'sprite': 'champion5.pn...","[Support, Mage]",Mana,"{'hp': 574, 'hpperlevel': 96, 'mp': 452, 'mppe..."
160,13.5.1,Zoe,142,Zoe,the Aspect of Twilight,"As the embodiment of mischief, imagination, an...","{'attack': 1, 'defense': 7, 'magic': 8, 'diffi...","{'full': 'Zoe.png', 'sprite': 'champion5.png',...","[Mage, Support]",Mana,"{'hp': 630, 'hpperlevel': 106, 'mp': 425, 'mpp..."
161,13.5.1,Zyra,143,Zyra,Rise of the Thorns,"Born in an ancient, sorcerous catastrophe, Zyr...","{'attack': 4, 'defense': 3, 'magic': 8, 'diffi...","{'full': 'Zyra.png', 'sprite': 'champion5.png'...","[Mage, Support]",Mana,"{'hp': 574, 'hpperlevel': 93, 'mp': 418, 'mppe..."

In [6]:
data = pd.json_normalize(champions['data'])
data

,version,id,key,name,title,blurb,tags,partype,info.attack,info.defense,...,stats.hpregen,stats.hpregenperlevel,stats.mpregen,stats.mpregenperlevel,stats.crit,stats.critperlevel,stats.attackdamage,stats.attackdamageperlevel,stats.attackspeedperlevel,stats.attackspeed
0,13.5.1,Aatrox,266,Aatrox,the Darkin Blade,Once honored defenders of Shurima against the ...,"[Fighter, Tank]",Blood Well,8,4,...,3.00,1.00,0.00,0.00,0,0,60,5.00,2.500,0.651
1,13.5.1,Ahri,103,Ahri,the Nine-Tailed Fox,Innately connected to the magic of the spirit ...,"[Mage, Assassin]",Mana,3,4,...,2.50,0.60,8.00,0.80,0,0,53,3.00,2.000,0.668
2,13.5.1,Akali,84,Akali,the Rogue Assassin,Abandoning the Kinkou Order and her title of t...,[Assassin],Energy,5,3,...,9.00,0.90,50.00,0.00,0,0,62,3.30,3.200,0.625
3,13.5.1,Akshan,166,Akshan,the Rogue Sentinel,"Raising an eyebrow in the face of danger, Aksh...","[Marksman, Assassin]",Mana,0,0,...,3.75,0.65,8.20,0.70,0,0,52,3.50,4.000,0.638
4,13.5.1,Alistar,12,Alistar,the Minotaur,Always a mighty warrior with a fearsome reputa...,"[Tank, Support]",Mana,6,9,...,8.50,0.85,8.50,0.80,0,0,62,3.75,2.125,0.625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,13.5.1,Zeri,221,Zeri,The Spark of Zaun,"A headstrong, spirited young woman from Zaun's...",[Marksman],Mana,8,5,...,3.25,0.70,6.00,0.80,0,0,53,1.30,2.000,0.658
158,13.5.1,Ziggs,115,Ziggs,the Hexplosives Expert,"With a love of big bombs and short fuses, the ...",[Mage],Mana,2,4,...,6.50,0.60,8.00,0.80,0,0,54,3.10,2.000,0.656
159,13.5.1,Zilean,26,Zilean,the Chronokeeper,"Once a powerful Icathian mage, Zilean became o...","[Support, Mage]",Mana,2,5,...,5.50,0.50,11.35,0.80,0,0,52,3.00,2.130,0.625
160,13.5.1,Zoe,142,Zoe,the Aspect of Twilight,"As the embodiment of mischief, imagination, an...","[Mage, Support]",Mana,1,7,...,6.50,0.60,8.00,0.65,0,0,58,3.30,2.500,0.625
161,13.5.1,Zyra,143,Zyra,Rise of the Thorns,"Born in an ancient, sorcerous catastrophe, Zyr...","[Mage, Support]",Mana,4,3,...,5.50,0.50,13.00,0.40,0,0,53,3.20,2.110,0.625

In [7]:
info = pd.json_normalize(version_champion['info'])
info

     attack  defense  magic  difficulty
0         8        4      3           4
1         3        4      8           5
2         5        3      8           7
3         0        0      0           0
4         6        9      5           7
..      ...      ...    ...         ...
157       8        5      3           6
158       2        4      9           4
159       2        5      8           6
160       1        7      8           5
161       4        3      8           7

[162 rows x 4 columns]

In [8]:
stats = pd.json_normalize(version_champion['stats'])
stats

,hp,hpperlevel,mp,mpperlevel,movespeed,armor,armorperlevel,spellblock,spellblockperlevel,attackrange,hpregen,hpregenperlevel,mpregen,mpregenperlevel,crit,critperlevel,attackdamage,attackdamageperlevel,attackspeedperlevel,attackspeed
0,650,114,0,0.0,345,38,4.45,32,2.05,175,3.00,1.00,0.00,0.00,0,0,60,5.00,2.500,0.651
1,590,96,418,25.0,330,21,4.70,30,1.30,550,2.50,0.60,8.00,0.80,0,0,53,3.00,2.000,0.668
2,570,119,200,0.0,345,23,4.70,37,2.05,125,9.00,0.90,50.00,0.00,0,0,62,3.30,3.200,0.625
3,630,104,350,40.0,330,26,4.20,30,1.30,500,3.75,0.65,8.20,0.70,0,0,52,3.50,4.000,0.638
4,670,120,350,40.0,330,44,4.70,32,2.05,125,8.50,0.85,8.50,0.80,0,0,62,3.75,2.125,0.625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,630,115,250,45.0,330,24,4.20,30,1.30,500,3.25,0.70,6.00,0.80,0,0,53,1.30,2.000,0.658
158,606,106,480,23.5,325,22,4.50,30,1.30,550,6.50,0.60,8.00,0.80,0,0,54,3.10,2.000,0.656
159,574,96,452,50.0,335,24,5.00,30,1.30,550,5.50,0.50,11.35,0.80,0,0,52,3.00,2.130,0.625
160,630,106,425,25.0,340,21,4.70,30,1.30,550,6.50,0.60,8.00,0.65,0,0,58,3.30,2.500,0.625
161,574,93,418,25.0,340,29,4.20,30,1.30,575,5.50,0.50,13.00,0.40,0,0,53,3.20,2.110,0.625

In [9]:
X_train

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId
0,0,100,1,0,303,Mordekaiser,82
1,0,100,2,1,616,Sylas,517
2,0,100,3,2,667,Lissandra,127
3,0,100,4,3,860,Caitlyn,51
4,0,100,5,4,325,Morgana,25
...,...,...,...,...,...,...,...
79995,7999,200,6,13979,595,Yorick,83
79996,7999,200,7,39643,38,Volibear,106
79997,7999,200,8,5570,498,Anivia,34
79998,7999,200,9,10228,733,Twitch,29
79999,7999,200,10,1684,574,Zilean,26

In [10]:
champion_mastery

,summonerId,championId,championLevel,championPoints,chestGranted,tokensEarned
0,18687,161,7,517126,True,0
1,18687,121,6,67420,True,0
2,18687,56,5,61069,True,2
3,18687,32,5,44528,False,2
4,18687,53,5,44024,False,2
...,...,...,...,...,...,...
5814023,35673,30,1,321,False,0
5814024,35673,523,1,239,False,0
5814025,35673,106,1,185,False,0
5814026,35673,57,1,131,False,0
5814027,35673,42,1,113,False,0

**Data Exploration**

In [47]:
#merging tables to be able to run linear models in the data table. 
X_train_mastery = pd.merge(X_train, champion_mastery, how='left', on=['summonerId', 'championId'], indicator=True)
X_train_mastery

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId,championLevel,championPoints,chestGranted,tokensEarned,_merge
0,0,100,1,0,303,Mordekaiser,82,6.0,61890.0,True,3.0,both
1,0,100,2,1,616,Sylas,517,5.0,37664.0,True,2.0,both
2,0,100,3,2,667,Lissandra,127,6.0,40303.0,True,1.0,both
3,0,100,4,3,860,Caitlyn,51,6.0,96304.0,True,3.0,both
4,0,100,5,4,325,Morgana,25,7.0,608721.0,True,0.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
79995,7999,200,6,13979,595,Yorick,83,6.0,48037.0,False,1.0,both
79996,7999,200,7,39643,38,Volibear,106,1.0,135.0,False,0.0,both
79997,7999,200,8,5570,498,Anivia,34,7.0,49027.0,False,0.0,both
79998,7999,200,9,10228,733,Twitch,29,7.0,174089.0,True,0.0,both
79999,7999,200,10,1684,574,Zilean,26,6.0,30703.0,True,0.0,both

In [48]:
mastery_predictions = ( 
    X_train_mastery
    .sort_values(['matchId', 'championPoints'], ascending = [True, True])
    .drop_duplicates('matchId')
    [['matchId', 'championPoints']]
    .reset_index(drop = True)
)

mastery_predictions

      matchId  championPoints
0           0         16631.0
1           1         12363.0
2           2          6946.0
3           3         14312.0
4           4          7555.0
...       ...             ...
7995     7995          2324.0
7996     7996          7440.0
7997     7997          3251.0
7998     7998          1665.0
7999     7999           135.0

[8000 rows x 2 columns]

In [49]:
from sklearn.metrics import accuracy_score

mastery = accuracy_score(
    y_true = y_train['matchId'],
    y_pred = mastery_predictions['championPoints']
)

In [50]:
X_test_mastery = pd.merge(X_test, champion_mastery, how='left', on=['summonerId', 'championId'], indicator=True)
X_test_mastery

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId,championLevel,championPoints,chestGranted,tokensEarned,_merge
0,8000,100,1,23938,57,Fiora,114,3.0,10896.0,True,0.0,both
1,8000,100,2,8037,788,LeeSin,64,7.0,143994.0,False,0.0,both
2,8000,100,3,8444,566,Veigar,45,7.0,203012.0,True,0.0,both
3,8000,100,4,24831,542,Twitch,29,7.0,376388.0,True,0.0,both
4,8000,100,5,23890,224,Soraka,16,7.0,625009.0,True,0.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,9999,200,6,45320,458,Mordekaiser,82,7.0,117779.0,True,0.0,both
19996,9999,200,7,45321,330,FiddleSticks,9,5.0,22922.0,False,0.0,both
19997,9999,200,8,45322,462,Tristana,18,7.0,169934.0,False,0.0,both
19998,9999,200,9,45323,256,Samira,360,4.0,19716.0,True,0.0,both
19999,9999,200,10,45324,520,Karma,43,2.0,3261.0,False,0.0,both

In [51]:
mastery_test = ( 
    X_test_mastery
    .sort_values(['matchId', 'championPoints'], ascending = [True, True])
    .drop_duplicates('matchId')
    [['matchId', 'championPoints']]
    .reset_index(drop = True)
)

mastery_test

      matchId  championPoints
0        8000          5409.0
1        8001          4328.0
2        8002          7589.0
3        8003         10298.0
4        8004          3549.0
...       ...             ...
1995     9995          5654.0
1996     9996         10702.0
1997     9997          2518.0
1998     9998         20355.0
1999     9999          3261.0

[2000 rows x 2 columns]

In [52]:
y_pred = ( 
     X_test_mastery
    .sort_values(['matchId', 'championPoints'], ascending = [True, False])
    .drop_duplicates('matchId')
    ['championPoints']
    .reset_index(drop = True)
)

y_pred

0        625009.0
1        837077.0
2        164164.0
3        399780.0
4        894152.0
          ...
1995     237322.0
1996     827163.0
1997    1856187.0
1998     728491.0
1999     169934.0
Name: championPoints, Length: 2000, dtype: float64

In [56]:
submission['winner'] = y_pred
submission.head()

   matchId    winner
0     8000  625009.0
1     8001  837077.0
2     8002  164164.0
3     8003  399780.0
4     8004  894152.0

In [57]:
submission

      matchId     winner
0        8000   625009.0
1        8001   837077.0
2        8002   164164.0
3        8003   399780.0
4        8004   894152.0
...       ...        ...
1995     9995   237322.0
1996     9996   827163.0
1997     9997  1856187.0
1998     9998   728491.0
1999     9999   169934.0

[2000 rows x 2 columns]

In [58]:
submission.to_csv('ds6-league-of-legends/first_submission.csv', index = False)

In [ ]:
data['key'] = data['key'].astype(int)
X_train_champion = pd.merge(X_train, data, how='inner', left_on='championId', right_on='key')
X_train_champion = X_train_champion.sort_values(['matchId', 'participantId'], ascending = [True, True]).reset_index(drop=True)

data

In [ ]:
data_predictions = ( 
    X_train_champion
    .sort_values(['key', 'info.attack'], ascending = [True, True])
    .drop_duplicates('key')
    [['key', 'info.attack']]
    .reset_index(drop = True)
)
data_predictions

**Linear Model**

In [ ]:
#X = iris.data
#y = iris.target

# Split the data into training and testing sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Load data
#X, y = load_data()

# Split data into training and testing sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Initialize model
#model = LinearRegression()

# Train model
#model.fit(X_train, y_train)

# Evaluate model
#y_pred = model.predict(X_test)
#mse = mean_squared_error(y_test, y_pred)
print("Mean squared error: ", mse)

# Make predictions on new data
#new_data = load_new_data()
#predictions = model.predict(new_data)